@model TaskE

@{

}
<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="~/css/admin.css">


@*
    // left side bar
    - List of Employe Right side with details
    - add new Employe
    - Modifie Employe
    - Application Request from Employe
    - Ranking of Employe
*@

<header class="Header">
    <li> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
</header>

<div class="Wrapper">

    <div class="leftSide">
        <ul class="leftSideUl">
            <li><a asp-area="" asp-controller="Admin" asp-action="Admin">Employe Details</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="add">Add new</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="task">Task</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="query">Query</a></li>

        </ul>
    </div>
    <div class="rightSide">

        <div class="loginForm">
            <p class="loginHeading">Task for ID @Model.Id</p>
            <p>Name: @Model.Name</p>
            <p>@Model.Details</p>


            @* <button> <a asp-controller="Admin" asp-action="Task">Back</a> </button> *@

        </div>

    </div>
</div>
