@{
    ViewData["Title"] = "Employe Management";
}

<link rel="stylesheet" href="~/css/admin.css">
<link rel="stylesheet" href="~/css/home.css">

<header class="Header">
    <li> <a asp-area="" asp-controller="Home" asp-action="formAdmin">Admin</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="formWorker">Worker</a></li>
</header>

<div style="background: url(https://biz30.timedoctor.com/images/2020/01/employee-management.jpg) no-repeat;
    background-size: 1360px 699px;
    width: 100%;
    height: 638px;
    margin: 0px auto;">
        <h1 style="color: #b13f00;
    text-align: center;
    padding: 11px;
    background: #b1b0b01a;">Employee Management</h1>
    </div>